html {
    height: auto;
    width: auto;
}

body {
    height: auto;
    width: auto;
    background-color: #F1F1F1;
}

#header {
    color: #6441A5;
}

.footer-image {
    height: 40px;
    width: 40px;
}

.overlay-content {
    position: absolute;
    margin: 0 auto;
    font-weight: 300;
    background-color: white;
}

.result-container {
    position: relative;
    background-color: white;
    border: 1px solid #343447;
    display: inline-flex;
    min-height: 80px;
    float: left;
}

.result-container:hover {
    background-color: #F1F1F1
}

.result-container .add-button {
    position: absolute;
    right: 0;
    color: #fff;
    top: 20px;
    width: 38px;
    height: 38px;
    width: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Montserrat Black";
}

.result-container .small-artwork {
    left: 40px;
    width: 40px;
    height: 60px;
    display: inline-block;
}

.result-container .result-info {
    left: 100px;
    width: 50%;
    display: inline-block;
}

#main-view {
    height: 100%;
    width: 100%;
    position: relative;
}

.search-form {
    margin-top: 5px;
    margin-bottom: 15px
}

.full-view {
    width: auto;
}

.vid-view {
    width: auto;
    background-color: #262626;
}

.vids-container {
    width: auto;
    padding: 0 0 0 0;
}

.vids {
    height: 400px;
    width: 49%;
    display: inline-block;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: auto%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}


/* Set the fixed height of the footer here */

#footer {
    height: 60px;
    background-color: #F1F1F1;
}

span a {
    float: right;
    margin: 0 auto;
    padding: 5px 10px
}


/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
