<div class="container">
  <h1>Hello World</h1>
  <button ng-controller='mainCtrl' ng-click='searchData()'>button</button>
  <form>
    <input type="text" placeholder="Search" ng-model='query'ng-keyup='searchData(query)'></input>
  </form>
  <ul>
    <li ng-repeat="x in games | unique: 'game'" ng-click='getData(x.game)'>
      {{x.game}}
    </li>
  </ul>

<iframe id='first' src="http://player.twitch.tv/?channel=kinggothalion" allowfullscreen autoplay=true></iframe>
<iframe id='second' src="http://player.twitch.tv/?channel=kinggothalion" allowfullscreen autoplay=true></iframe>
<iframe id='third' src="http://player.twitch.tv/?channel=kinggothalion" allowfullscreen autoplay=true></iframe>
<iframe id='fourth' src="http://player.twitch.tv/?channel=kinggothalion" allowfullscreen autoplay=true></iframe>
</ul>
</div>