<div class="container centered">
    <div id="overlay-source-search" class="overlay">
        <form class='search-form'>
            <input type="text" placeholder="Search" ng-model='query' ng-keyup='searchData(query)'></input>
        </form>
        <div class="overlay-content centered">
            <div class='result-container' ng-show="query!== ''" ng-repeat="x in games | unique: 'game' | limitTo: 3" ng-click='getData(x.game)'>
                <img class="small-artwork" src="http://static-cdn.jtvnw.net/ttv-boxart/{{x.ico}}" height='100'>
                <div class='result-info'>
                    <div>
                        {{x.game}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class='vids-container'>

        <iframe id='0' class='vids' src="http://player.twitch.tv/?channel=stonedyooda&!muted" allowfullscreen></iframe>
        <iframe id='1' class='vids' src="http://player.twitch.tv/?channel=stonedyooda&muted" allowfullscreen></iframe>
        <iframe id='2' class='vids' src="http://player.twitch.tv/?channel=stonedyooda&muted" allowfullscreen></iframe>
        <iframe id='3' class='vids' src="http://player.twitch.tv/?channel=stonedyooda&muted" allowfullscreen></iframe>
    </div>
</div>

